* { padding: 0; margin: 0;}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.influcard{
    display: flex;
    justify-content: center;
    width: 20rem;
    border: #818181 solid 0.5px;
    border-radius: 6px;
    box-shadow: 1px 2px 4px #c4c4c4;
    padding: 5px;
    flex-wrap: wrap;
    font-size: 12px;
}

.datosPersonales{
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}

/*
    Esto hace que el texto de intereses sea recortado por puntos suspensivos
*/

.datosAdicionales > p:nth-child(2){
    width : 100px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 10px;
}

/*
    Le da ancho al apartado de metricas
*/
.resumenMetricas{
    flex: 1;
    padding: 10px;
}

#contenedorMosaico{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    background-color: rgb(236, 236, 236);
}

.resumenMetricas > p:nth-child(1){
    font-weight: 900;
}

.nombreCuenta{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nombreCuenta > p {
    margin-left: 4px;
}

.fotoperfil{
    position: relative;
    opacity: 1;
    border-top-left-radius: 15%;
    border-top-right-radius: 35%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 15%;
    border: #3FB9A7 solid 4px;
    overflow: hidden;
}

.cabecera{
    width: 93vw;
    display: flex;
    padding: 50px;
}

.cabecera > div{
    flex: 1;
}

.perfil{
    display: flex;
}

.tripleR{
    display: flex;
    justify-content: space-evenly;
}

.opciones{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: self-end;
}

.opciones > .nombreCuenta{
}

.informacionPerfilSeleccionado{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.fotoPerfilSeleccionado{
    position: relative;
}

.fotoPerfilSeleccionado > img:nth-child(1){
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    z-index: 1;
    border-radius: 100%;
    overflow: hidden;
}

.fotoPerfilSeleccionado > img:nth-child(2){
    position: relative;
    border-radius: 100%;
    border-bottom-right-radius: 35%;
    overflow: hidden;
}

.fotoperfil > img{
    height: 100%;
}

.verInflucard {
    max-width: 100%;
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.fotoperfil:hover > img{
    opacity: 0.3;
    cursor: pointer;
}
  
.fotoperfil:hover > .verInflucard {
    opacity: 1;
    cursor: pointer;
}
  
.metricas{
    display: flex;
    flex-direction: column;
}

.contenedorMetricas{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}

.tituloMetrica{
    display: flex;
}

.tituloMetrica > p{
    margin-left: 2px;
}

#perfilInflucard {
    z-index: 10;
    position: absolute;
}

.cargado {
    opacity: 1;
    transition: .5s;
    top: 0;
    left: 0;
    background-color: white;
    height: 100vh;
    width: 100%;
}

.cerrado {
    opacity: 0;
    display: none;
    transition: .5s ;
    top: 50%;
    left: 100%;
    height: 0vh;
    width: 0%;
}

#reach{
 width: 120px;
 height: 120px;
}

#relevance{
 width: 120px;
 height: 120px;
}


#resonance{
 width: 120px;
 height: 120px;
}


#chartdiv{
    width: 500px;
    height: 500px;
}

.restoInformacion{
    display: flex;
    height: 100vh;
    padding: 20px;
    background-color: blue;
}

.seccion{
    flex: 1;
    margin: 15px;
}

.seccion:nth-child(1){
    background-color: red;
}

.seccion:nth-child(2){
    background-color: green;

}

.seccion:nth-child(3){
    background-color: yellow;
}

